header section {
  justify-content: space-between;
  align-items: center;
}

header section img {
  width: 120px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  margin: 0 15px;
  color: #3399cc;
}
