$cor-branco: #ffffff;

$cor-primaria: #3399cc;
$cor-texto-titulo: #333366;
$cor-botao: #ff6633;
$cor-paragrafo: #2c2c2c;

$font-h1: 71px;
$font-h2: 30px;

$social-media-icons: 30px;

$btn-radius: 20px;
